
<header>
  <nav class="navbar navbar-expand-md navbar-dark header-bg ing-theme-color mb-4 fixed-top" >

    <a class="navbar-brand" routerLink="/" alt="Logo" >Houspital</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" [ngClass]="{'show toggle-height': toggleFlag}">
      <div class="navbar-nav" >
          <a  *ngIf="userDetails?.userName"routerLink="/doctor/appoinment" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add Appointment slots</a>
          <a *ngIf="userDetails?.userName" routerLink="/doctor" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">View Appointment slots</a>
      
        <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Patient</a>
        <a *ngIf="!userDetails?.userName"  routerLink="/doctor" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Doctors</a>
    </div>
      <div class="user-details icon" *ngIf="userDetails?.userName" [ngClass]="{'show toggle-class': toggleFlag}">
        Welcome, <strong>{{userDetails?.userName}}</strong>
        <i class="pi pi-sign-out" (click)="logout()"></i>
      </div>
    </div>
</nav>
</header>