<div class="container doctor-container ">

    <h3>View Booked Appointments</h3>
    <div class="ui-grid ui-grid-responsive ui-fluid"  *ngIf="bookedAppointmentDoctors">
        <app-grid  [gridData]="bookedAppointmentDoctors" [gridColumnDefinition]="gridColumns"
             [sorting]="sorting" [pageLinks]="pageLinks" [pagination]="pagination" *ngIf="bookedAppointmentDoctors">
        </app-grid>
    </div>

</div>
<app-alert [alertObj]="common.alertConfig" *ngIf="common.alertConfig?.modalShow" (buttonAction)="modalAction($event)">
</app-alert>
<app-spinner [spinner]="spinner"></app-spinner>

